/* Move down content because we have a fixed navbar that is 3.5rem tall */
@font-face {
    font-family: "Condensed";
    src: url(/fonts/robotocondensed.ttf) format("truetype");
}

body {
    padding-top: 3.5rem;
}

.matchView {
    border: 1px solid black;
    margin-bottom: 25px;
}

.matchView > tr > td {
    overflow-wrap: break-word;
}

.matchViewTitle {
    font-family: "Condensed", serif;
    font-size: 2.5vw;
    font-weight: bold;
}

.matchViewScore {
    font-family: "Condensed", serif;
    font-size: 1.5vw;
    text-align: center;
    font-weight: bold;
}

.hiddenButtons a {
    visibility: hidden;
}

.hiddenButtons:hover a {
    visibility: visible;
}

.flexBlockParent > h3 {
    margin-top: 20px;
}

.flexBlockChild {
    display: inline-block;
}
.flexBlockChild > span {
    display: inline-block;
    padding: 5px;
    width: 80px;
}
.hidden {
    display: none;
}

/* Mobile display */
@media (max-width: 800px) {
    .iconLink {
        width: 4vw;
    }

    .matchViewParty {
        font-family: "Condensed", serif;
        font-size: 2.5vw;
    }
}

/* Computer display */
@media (min-width: 800px) {
    .iconLink {
        width: 2vw;
    }

    .matchViewParty {
        font-family: "Condensed", serif;
        font-size: 1.5vw;
    }
}
