/* Move down content because we have a fixed navbar that is 3.5rem tall */
@font-face {
    font-family: "Condensed";
    src: url(/fonts/robotocondensed.ttf) format("truetype");
}

body {
    padding-top: 3.5rem;
}

.matchView {
    border: 1px solid black;
    margin-bottom: 25px;
}

.matchView > tr > td {
    overflow-wrap: break-word;
}

.matchViewTitle {
    font-family: "Condensed", serif;
    font-size: 2.5vw;
    font-weight: bold;
}

.matchViewScore {
    font-family: "Condensed", serif;
    font-size: 1.5vw;
    text-align: center;
    font-weight: bold;
}

.matchViewParty {
    font-family: "Condensed", serif;
    font-size: 1.5vw;
    /*padding-left: 10px;
    width: 40%;*/
}
