<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html :: header"></head>
<body>
    <div th:replace="fragments/navbar.html :: navbar"></div>

    <main role="main">
        <div class="container">
            <p>Welcome to <span th:text="${appName}">Our App</span></p>

            <div class="container-fluid">
                <h1 class="display-3">Scoreboard</h1>
            </div>
        </div>
    </main>

    <div th:replace="fragments/footer.html :: footer"></div>

</body>
</html>