<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html :: header"></head>
<body>
<div th:replace="fragments/navbar.html :: navbar"></div>

<main role="main">
    <div class="container">

        <div class="container-fluid">

            <div th:if="${#lists.isEmpty(matches)}">
                <h2>No matches yet</h2>
                <div><a href="/match/create">Create one!</a></div>
            </div>

            <div th:if="${not #lists.isEmpty(matches)}">
                <h2>Matches</h2>
                <div th:each="match : ${matches}">
                    <table class="matchView" style="width: 100%">
                        <tr>
                            <td>
                                <table style="width: 100%;">
                                    <tr>
                                        <th class="matchViewTitle" style="text-align: right"><span th:text="${match.partyHome}" /></th>
                                        <th class="matchViewTitle" style="text-align: center"><span th:id="match_ + ${match.id} + _scoreHome" th:text="${match.scoreHome}" /> : <span th:id="match_ + ${match.id} + _scoreGuest" th:text="${match.scoreGuest}" /></th>
                                        <th class="matchViewTitle" style="text-align: left"><span th:text="${match.partyGuest}" /></th>
                                    </tr>
                                    <tr>
                                        <td colspan="3" style="text-align: center"><a th:href="@{/match/{id}/view(id=${match.id})}"><i class="bi-disc" style="font-size: 3em;"></i></a></td>
                                    </tr>
                                    <tr th:each="game : ${match.games}">
                                        <td th:text="${game.partyHome}" class="matchViewParty" style="width: 42%; text-align: right"></td>
                                        <td class="matchViewScore" style="width: 16%">
                                            <span th:id="game_ + ${game.id} + _scoreHome" th:text="${game.getScoreHome()}"></span> : <span th:id="game_ + ${game.id} + _scoreGuest" th:text="${game.getScoreGuest()}"></span>
                                        </td>
                                        <td th:text="${game.partyGuest}" class="matchViewParty" style="width: 42%; text-align: left"></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>
    </div>
</main>

<div th:replace="fragments/footer.html :: footer"></div>

<script src="/js/clientUpdate.js" th:href="@{/js/clientUpdate.js}"></script>

<script th:inline="javascript">
    let initialGlobalRevision = [[${globalRevision}]];
    startAutoUpdate(initialGlobalRevision);
</script>

</body>
</html>