<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html :: header"></head>
<body>
<div th:replace="fragments/navbar.html :: navbar"></div>

<main role="main">
    <div class="container">

        <div class="container-fluid">
            <div th:switch="${matches}">
                <h2 th:case="null">No matches yet!</h2>
                <div th:case="*">
                    <h2>Matches</h2>
                    <div th:each="match : ${matches}">
                        <table class="matchView" style="width: 100%">
                            <tr>
                                <td>
                                    <table style="width: 100%;">
                                        <tr>
                                            <th class="matchViewTitle" style="text-align: right"><span th:text="${match.partyA}"/></th>
                                            <th class="matchViewTitle" style="text-align: center"> : </th>
                                            <th class="matchViewTitle" style="text-align: left"><span th:text="${match.partyB}"/></th>
                                        </tr>
                                        <tr>
                                            <td colspan="3" style="text-align: center;"><span th:text="${match.getStatus()}"></span> - <a th:href="@{/match/{id}/edit(id=${match.id})}">edit</a></td>
                                        </tr>
                                        <tr th:each="game : ${match.games}">
                                            <td th:text="${game.partyA}" class="matchViewParty" style="text-align: right;"></td>
                                            <td th:text="${game.scoreString}" class="matchViewScore"></td>
                                            <td th:text="${game.partyB}" class="matchViewParty" style="text-align: left;"></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>

        </div>
    </div>
</main>

<div th:replace="fragments/footer.html :: footer"></div>

</body>
</html>