<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html :: header"></head>
<body>
<div th:replace="fragments/navbar.html :: navbar"></div>

<main role="main">
    <div class="container">
        <div class="container-fluid">
            <form action="#"
                  th:action="${action} == 'add' ? @{/api/match/add} : @{/api/match/edit/{id}(id=${match.id})}"
                  th:object="${match}" method="post">

                <div class="row">
                    <h3 class="mt-3">Match</h3>
                    <div class="col-md">
                        <input class="form-control" th:field="*{partyHome}" th:required="required" placeholder="Home" aria-label="Home" />
                    </div>
                    <div class="col-md">
                        <input class="form-control" th:field="*{partyGuest}" th:required="required" placeholder="Guest" aria-label="Guest" />
                    </div>
                </div>

                <div th:each="game, gameIndex : ${match.games}" class="row">
                    <h3 th:text="'Game ' + ${gameIndex.index + 1}" class="mt-3"></h3>
                    <div class="col-md">
                        <input class="form-control" th:field="*{games[__${gameIndex.index}__].partyHome}" placeholder="Player home" aria-label="Player home" />
                    </div>
                    <div class="col-md">
                        <input class="form-control" th:field="*{games[__${gameIndex.index}__].partyGuest}" placeholder="Player guest" aria-label="Player guest" />
                    </div>
                    <div class="hidden">
                        <input type="hidden" th:field="*{games[__${gameIndex.index}__].id}"/>
                        <input type="hidden" th:field="*{games[__${gameIndex.index}__].index}"/>
                    </div>
                </div>

                <input class="btn btn-primary mt-3" type="submit" value="Save" />
            </form>
        </div>
    </div>
</main>

<div th:replace="fragments/footer.html :: footer"></div>

</body>
</html>