<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html :: header"></head>
<body>
<div th:replace="fragments/navbar.html :: navbar"></div>

<main role="main">
    <div class="container">
        <div class="container-fluid">
            <form action="#"
                  th:action="${action} == 'add' ? @{/api/match/add} : @{/api/match/edit/{id}(id=${match.id})}"
                  th:object="${match}" method="post">
                <table>
                    <tr>
                        <td>Team A</td>
                        <td><input type="text" th:field="*{partyA}" th:required="required"></td>
                        <td><input type="text" th:field="*{partyB}" th:required="required"></td>
                        <td>Team B</td>
                    </tr>
                    <tr th:each="game, gameIndex : ${match.games}">
                        <td th:text="'Player '"></td>
                        <td><input type="text" th:field="*{games[__${gameIndex.index}__].partyA}"/></td>
                        <td><input type="text" th:field="*{games[__${gameIndex.index}__].partyB}"/></td>
                        <td th:text="'Player '"></td>
                        <td>
                            <input type="hidden" th:field="*{games[__${gameIndex.index}__].id}"/>
                            <input type="hidden" th:field="*{games[__${gameIndex.index}__].index}"/>
                        </td>
                    </tr>
                </table>
                <input type="submit" value="Save"/>
            </form>
        </div>
    </div>
</main>

<div th:replace="fragments/footer.html :: footer"></div>

</body>
</html>